# ==============================================
# MTK Policy Rule
# ==============================================

#xuxiaohui 2018-01-10 add for Kodak LED
type ktd2037_device, dev_type; 
