# ==============================================
# MTK Policy Rule
# ==============================================

type sysfs_ktd2037, fs_type, sysfs_type;
