# ==============================================
# Policy File of /vendor/bin/pscali Executable File

# ==============================================
# Type Declaration
# ==============================================

type pscali_exec, exec_type, file_type, vendor_file_type;
type pscali, domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

# permissive pscali;
init_daemon_domain(pscali)

allow pscali system_prop:property_service { set };
allow pscali self:capability { dac_read_search dac_override };

allow pscali als_ps_device:chr_file r_file_perms;

allow pscali kmsg_device:chr_file rw_file_perms;
allow pscali device:dir rw_dir_perms;
allow pscali block_device:dir { search };
allow pscali property_socket:sock_file write;
allow pscali init:unix_stream_socket connectto;

allow pscali nvram_device:chr_file r_file_perms;
allow pscali nvram_device:blk_file rw_file_perms;

allow pscali nvram_data_file:dir create_dir_perms;
allow pscali nvram_data_file:file create_file_perms;
allow pscali nvram_data_file:lnk_file r_file_perms;

allow pscali nvdata_file:dir { search };
allow pscali nvdata_file:file create_file_perms;

allow pscali system_data_file:lnk_file r_file_perms;

allow pscali sysfs:dir r_dir_perms;
allow pscali sysfs:file r_file_perms;
