# ==============================================
# MTK Policy Rule
# ==============================================

# LED CIT LED Test
allow radio sysfs_ktd2037:dir search;
allow radio sysfs_ktd2037:file rw_file_perms;
